/* 

*** FONT SYSTEM ***

--- Font family ---
- Eagle Lake (Brand)
- Work Sans (Text)


*** COLORS ***
- #122620 (charcoal)
-- Tints:
- #41514d

-- Shades:
- #10221d

- #f4ebd0 (cream)
-- Shades:
- #dcd4bb

- #b68d40 (tan)
-- Tints:
- #bd9853
- #ccaf79

- #d6ad60 (gold)
-- Tints:
- #debd80

*/

/* *** GENERAL *** */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #f4ebd0;
  color: #122620;
}

.logo {
  font-family: 'Eagle Lake', cursive;
  color: #d6ad60 !important;
}

/* --- Adjustments --- */
/* Account for navbar height */
.adjust-margin-top {
  margin-top: 62px;
}

.border-radius-none {
  border-radius: 0;
}

.border-radius-left-none {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.border-radius-right-none {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* --- BUTTONS --- */
.btn:focus,
.btn:active:focus,
.btn-primary:focus,
.btn-primary:active:focus {
  box-shadow: none;
}

.btn-cta {
  color: #d6ad60 !important;
  background-color: #122620 !important;
  border-color: #122620 !important;
}

.btn-cta:hover {
  background-color: #10221d !important;
}

.btn:disabled {
  background-color: #ccaf79;
  opacity: 0.9;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background-color: #ccaf79;
  border: none !important;
}

.btn-primary:hover {
  background-color: #bd9853;
}

/* --- Colors --- */
.error {
  color: red;
}

/* --- Offcanvas --- */
.offcanvas-header {
  background-color: #f4ebd0;
}

.offcanvas-body {
  background-color: #dcd4bb;
}

/* --- Accordion --- */
.accordion-item {
  background-color: #dcd4bb;
}

.accordion-button {
  color: #d6ad60 !important;
  border: 2px solid #bd9853 !important;
  background-color: #41514d !important;
  box-shadow: none !important;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23d6ad60'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* *** SMALL SCREEN SETTINGS *** */
/* --- NAVBAR --- */
.navbar {
  background-color: #122620 !important;
}

.navbar-toggler {
  border-color: #d6ad60 !important;
  color: #d6ad60 !important;
}

.navbar-brand.logo {
  font-size: 1.5rem;
}

.nav-link {
  color: #d6ad60 !important;
}

.nav-link {
  font-size: 1.1rem;
}

.nav-link:hover,
.nav-link:active {
  color: #debd80 !important;
}

.dropdown-menu {
  background-color: #122620 !important;
  border-color: #d6ad60 !important
}

.dropdown-item {
  color: #d6ad60 !important;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #41514d !important;
}

.dropdown-divider {
  border-color: #d6ad60 !important
}

/* --- Hero Section --- */
.section-hero {
  height: calc(100vh - 62px);
  background-image: url('./../images/bg-hero.jpg');
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

.hero-text-box {
  background-color: rgba(65, 81, 77, 0.85);
  color: #d6ad60;
  padding: 1.5rem 3rem;
  border-radius: 22px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.hero-heading {
  font-family: 'Eagle Lake', cursive;
  font-size: 2.5rem;
}

.hero-description {
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 2px;
}

.btn-hero {
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 16px;
}

/* --- Products Section --- */
.product-message {
  font-size: 1.2rem;
}

/* --- Search Panel --- */
.search-box {
  background-color: #dcd4bb;
  border-radius: 16px;
}

/* --- Product Card --- */
.card-product {
  width: 300px;
  background-color: #dcd4bb;
  overflow: hidden;
  padding: 0;
  margin: 0;

  border: 1px solid #bd9853;
}

.card-img-top {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* --- Product View --- */
.variant-img-box {
  width: 80vw;
}

.variant-img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #bd9853;
}

.product-quantity-info {
  font-weight: 500;
  font-size: 15px;
}

.product-specification-header {
  font-weight: 500;
}

.variant-selection-box {
  background-color: #dcd4bb;
  border: 2px solid #d6ad60;
  border-radius: 16px;
}

.quantity-input {
  width: fit-content;
}

/* --- Login / Register --- */
.form-register,
.form-login {
  background-color: #dcd4bb;
  border-radius: 16px;
}

/* *** MEDIUM SCREEN SETTINGS (768PX AND ABOVE) *** */
@media screen and (min-width: 768px) {

  /* --- GENERAL --- */
  /* --- Adjustments --- */
  /* Account for navbar height */
  .adjust-margin-top {
    margin-top: 74px;
  }

  /* --- NAVBAR --- */
  .navbar-brand.logo {
    font-size: 2rem;
  }

  .navbar-toggle-icon {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 1.4rem;
  }

  /* --- Hero Section --- */
  .section-hero {
    height: calc(100vh - 62px);
  }

  .hero-text-box {
    padding: 2rem 4rem;
    border-radius: 22px;

    gap: 0.55rem;
  }

  .hero-heading {
    font-size: 4rem;
  }

  .hero-description {
    font-size: 1.5rem;
    letter-spacing: 4px;
  }

  .btn-hero {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px 16px;
  }

  /* --- Login / Register --- */
  .container-register,
  .container-login {
    width: 700px;
  }
}

/* *** LARGE SCREEN SETTINGS (992PX AND ABOVE) *** */
@media screen and (min-width: 992px) {

  /* --- Products Section --- */
  .section-products {
    position: relative;
  }

  .search-box {
    position: sticky;
    top: 15%;
  }

  .product-message {
    font-size: 2rem;
  }

  /* --- Product View --- */
  .variant-img-box {
    width: 100%;
  }

  .variant-img {
    width: 100%;
  }
}